<ol class="items-list">
    <section class="main flexcol">
        <h2>Domaines</h2>
        {{!-- "domaine": {"description": "","attributd":"for","score":15,"code":"Dom","BPro":0,"XPa":0},--}}
        <table>
            <tr>
                <th width="41%">Nom<br>--Code</th>
                <th  width="35%">Mini-Descption</th>
                <th  width="7%">Att.</th>
                <th  width="7%">Score</th>
                <th  width="7%">BPro</th>
                <th  width="7%">XPa</th>
            </tr>
        {{#each data.domaines as |cmp key|}}
            <tr>

            </tr>
        {{/each}}
        </table>
        <h2>Compétences</h2>
        {{!-- "compe2tence":{"description":"","attributd":"for","score":25,"code":"cmp","BPro":0,"XPa":0 --}}
        <table>
            <tr>
                <th width="41%">Nom<br>--Code</th>
                <th  width="35%">Mini-Descption</th>
                <th  width="7%">Att.</th>
                <th  width="7%">Score</th>
                <th  width="7%">BPro</th>
                <th  width="7%">XPa</th>
           </tr>
        {{#each data.competences as |cmp key|}}
        <tr>

        </tr>
        {{/each}}
        </table>
      </section>
</ol>