<table>
  <tr>
    <th  width="7%" text-align="center"></th>
    <th width="44%" text-align="left">Nom</th>
    <th  width="7%" text-align="center">Type</th>
    <th  width="7%" text-align="center">Quantité</th>
    <th  width="14%" text-align="center">Poids</th>
    <th  width="14%" text-align="center">Volume</th>
    <th  width="7%" text-align="center">Act.</th>
  </tr>
  {{#each gear as |item id|}}
  <tr class="item" data-item-id="{{item._id}}">
      <td><a class="rollable" data-roll-type="item"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a></td>
      <td>{{item.name}}</td>
      <td>{{item.data.typeObjet}}</td>
      <td>{{item.data.quantite}}</td>
      <td>{{item.data.poids}}</td>
      <td>{{item.data.volume}}</td>
      <td class="item-controls" >
          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
      </td>
  </tr>
  <tr class="item" data-item-id="{{cmp._id}}">
      <td colspan="6">
          <i>{{cmp.data.descRapide}}</i>
      </td>
      <td class="item-controls" >
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </td>
  </tr>
{{/each}}
</table>      
