<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="200" width="200"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      <h2 class="charname"><input name="system.ethnie" type="text" value="{{system.ethnie}}" placeholder="ethnie"/></h2>
      <div class="resources grid grid-6col">
        <div class="resource flex-group-center">
          <label for="system.PdV.value" class="resource-label">Points de Vie</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.PdV.value" value="{{system.PdV.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="system.PdVTot" value="{{system.PdVTot}}" disabled=true data-dtype="Number"/>
            (<input type="text" name="system.PdV.max" value="{{system.PdV.max}}" data-dtype="Number"/>)
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.PdM.value" class="resource-label">Pts de Magie</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.PdM.value" value="{{system.PdM.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="system.PdMTot" value="{{system.PdMTot}}" disabled=true data-dtype="Number"/>
            (<input type="text" name="system.PdM.max" value="{{system.PdM.max}}" data-dtype="Number"/>)
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.Heroisme" class="resource-label">Pts de Héro</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.Heroisme" value="{{system.Heroisme}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.chance" class="resource-label">Pts Chance</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.chance" value="{{system.chance}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.XP" class="resource-label">XP</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.XP" value="{{system.XP}}" data-dtype="Number"/>
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.XP" class="resource-label">Init D.</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.attrder.initformule" value="{{system.attrder.initformule}}" disabled=true/>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="bibiography">Bibio.</a>
    <a class="item" data-tab="features">Principale</a>
    <a class="item" data-tab="synthese">synthese</a>
    <a class="item" data-tab="competences">Dom. et Cmp.</a>
    <a class="item" data-tab="sorts">Sortilèges.</a>
    <a class="item" data-tab="secrets">Secrets</a>
    <a class="item" data-tab="items">Equipements</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="bibiography">
      {{>"systems/npqv1/templates/actor/parts/actor-bibiographie.html"}}  
    </div>

    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-3col">
        <aside class="sidebar">
          <div class="abilities flexcol">
            {{#each system.attributs as |attrib key|}}
            <div class="attrib flexrow flex-group-center">
              <label for="attrib.value" class="resource-label rollable flexlarge align-left" data-roll="{{attrib.value}}" data-label="Jet de {{attrib.label}}">{{attrib.label}}</label>
              <select name="system.attributs.{{attrib.code}}.value">
                {{selectOptions ../LstDes selected=attrib.value}}
              </select>  
              <span class="attrib-mod rollable" data-roll="{{attrib.value}}" data-form="yes" data-label="Jet en {{attrib.label}}">{{attrib.abrv}}</span>
            </div>
            {{/each}}
          </div>
        </aside>

        <section class="main flexcol">
        </section>
        <section class="Bonus flexcol">
        </section>
      </section>
    </div>

    {{!-- Tab de Synthese --}}
    <div class="tab items" data-group="primary" data-tab="synthese">
       {{> "systems/npqv1/templates/actor/parts/actor-synthese.html"}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/npqv1/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Owned Competences, Domaines et Sortilèges Tab --}}
    <div class="tab competences" data-group="primary" data-tab="competences">
      {{> "systems/npqv1/templates/actor/parts/actor-competences.html"}}
    </div>

    {{!--  Sortilèges Tab --}}
    <div class="tab sorts" data-group="primary" data-tab="sorts">
      {{> "systems/npqv1/templates/actor/parts/actor-sorts.html"}}
    </div>
    {{!-- Secret possédée --}}
    <div class="tab secrets" data-group="primary" data-tab="secrets">
      {{> "systems/npqv1/templates/actor/parts/actor-secrets.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/npqv1/templates/actor/parts/actor-effects.html"}}
    </div>

  </section>

</form>

