<form>
  <div class="flexrow">
    <div class="flexcol">
      <h3>
        Presets
      </h3>

      <button data-preset="apple" type="button">
        Apple
      </button>

      <button data-preset="banana" type="button">
        Banana
      </button>

      <button data-preset="orange" type="button">
        Orange
      </button>
    </div>

    <div class="flexcol">
      <label>
        Name
        <input type='text' name='name' />
      </label>

      <label>
        Color
        <input type='color' name='color' />
      </label>
    </div>
  </div>
</form>