<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">Volume</label>
          <input type="text" name="data.volume" value="{{data.volume}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">Poids</label>
          <input type="text" name="data.poids" value="{{data.poids}}" data-dtype="Number"/>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">Valeurs en monnaies</a>
    <a class="item" data-tab="description">Autres et Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      <div class="resource grid grid-2col">
        <div class="biography grid-span-2">
          <h2>Autres Valeurs :</h2>    
            <textarea name="data.autres" rows="4">{{data.autres}}</textarea>
          </div>
      </div>
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
      <div class="resource grid grid-2col">
        <div class="biography grid-span-2">
          <h2>Description :</h2>    
            <textarea name="data.description" rows="4">{{data.description}}</textarea>
          </div>
      </div>
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <div class="resource">
        <label class="resource-label">Roll Formula</label>
        <input type="text" name="data.formula" value="{{data.formula}}" data-dtype="String"/>
      </div>
    </div>
  </section>
</form>
